# never ignore a gitignore
!.gitignore

# Data
# exclude everything
data/**

# exception to the rule to keep the data directory structure 
!data/README.md

# admin
# exclude everything
admin/**
!admin/README.md

# admin
# exclude everything
doc/**
!doc/README.md

# exclude html file
*.html

# OS files
.DS_Store
Thumbs.db

# vim stuff
.swp
*.swp

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# Cached files
*_cache
*_files
cache

# User-specific files
.Ruserdata
.Renviron

# RStudio files
.Rproj.user/
